.character_card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 250px;
  height: 200px;
  padding: 20px 10px;
  background-color: black;
  color: white;
  border: 5px solid #ffe81f;
  box-shadow: 0 0 10px #ffe81f;
  text-align: center;
}

.character_title {
  height: 70%;
  border-bottom: 1px solid #ffe81f;
  font-size: 18px;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: #ffe81f;
  text-shadow: 0 0 4px #ffe81f;
}

.character_description {
  display: flex;
  flex-direction: column;
  row-gap: 5px;
  padding: 10px;
  text-align: left;
  font-size: 14px;
  color: rgb(234, 234, 234);
}
